#tbl-students {

  tbody tr {
    cursor: pointer;
  }

  tr td, tr th {
    &:first-child {
      width: 75px;
      text-align: center;
    }

    &:last-child {
      width: 50px;
      text-align: center;

      &:hover {
        color: red;
      }
    }
  }
}

#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition:.5s;

}

.card {
  height: 426px;
}

.selected-row{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a9e4f7+0,0fb4e7+100;Ble+3D+%235 */
  background: #a9e4f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #a9e4f7 0%, #0fb4e7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #a9e4f7 0%,#0fb4e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */
  padding: 10px;
}

.tooltip-inner{
  max-width: none;
  background-color: #ab2525;
}
